/* Prevent adjustment of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -mstext-size-adjust: 100%;}

/* apply a natural box layout model to all elements */

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------------------BODY-------------------*/
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
}

/*----------------------HEADER-----------------*/
header {

  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1em 4%;
  text-align: right;
  img {
  position: absolute;
  top: 50px;
  left: 120px;

  }

}

/*-------------------NAVIGATION-----------------*/
nav {
  background-color: $secondaryColor;
  border-bottom: 1px solid rgba(0,0,0,0.3);
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

    }

    ul li {
      display: inline-block;
      width: 25%;
      border-right: 1px solid rgba(0,0,0,0.3);

    }

    ul li:last-child {border-right: none;}

    ul li a {
      display: block;
      text-align: center;
      font-weight: $boldWeight;
      text-decoration: none;
      color: $primaryColor;
      padding: .5rem 0;
      transition: background 0.75s ease, color 0.75s ease;
    }

    ul li.active a {
      background-color: darken($secondaryColor, 10%);
    }
        ul li a:hover {
      color: $secondaryColor;
      background-color: $primaryColor;
    }
}

/*-------------------MAIN-------------------*/

figure.banner {
  width: 100%;
}

  figure.banner img {
  width: 100%;
  height: 500px;
}

  h2 {
    padding: 1em 2%;
    font-size: 32px;
    color: $primaryColor;
    font-weight: $boldWeight;
  }

  h1 {
    font-size: 32px; text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
  }

  p {
    padding: 1em 2%;
  }

  .text-link {
    text-align: center;
    font-weight: $boldWeight;
    text-transform: uppercase;
  }

  .container {
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container div > img {
    width: 250px;
    height: 150px;
  }

/*-------------------FOOTER-----------------*/
footer {
  width: 100%;
  background-color: $primaryColor;
  p {
    text-align: center;
    color: $secondaryColor;
    font-size: 12px;
    padding: 1em 0;
  }
}

/*----Force an Element not to collapse----*/
	.clearfix:after {
    			content: "";
    			display: table;
    			clear: both;
}
